<div class="panel panel-default" style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
    <div class="panel-heading" id="education">
        <h4 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">Education</h4>
    </div>
    <div class="panel-body" style="padding-top: 2px;">
        <h5>Computer Science Department, <b>Harbin Institute of Technology</b>, <i>Harbin, China</i></h5>
        <p style="padding-top: 0.5px;">Ph.D. (September 2016 - April 2022) </p>
        <hr/>
        <h5>Computer Science Department, <b>Central China Normal University</b>, <i>Wuhan, China</i></h5>
        <p style="padding-top: 0.5px;">B.Eng. in Computer Science and Technology (September 2011 - May 2015)</p>
        <hr/>
        <h5>Department of Foreign Language, <b>Central China Normal University</b>, <i>Wuhan, China</i></h5>
        <p style="padding-top: 0.5px;">Minor in English and Linguistics (September 2012 - March 2015)</p>
    </div>
</div>
