<footer style="margin-top: 0px;">
    <div class="container" style="margin-top: 25px; margin-bottom: 20px;">
        <hr style="margin-top: 25px; margin-bottom: 25px;" />
        <p style="text-align: center; font-size: 14px;">
            © 2022 •
            <a href="{{ https://epsilon-lee.github.io }}">epsilon-lee.github.io</a> •
            <a href="{{ mailto:epsilon.green@gmail.com }}" target="_top">epsilonlee.green@gmail.com</a>
        </p>
	<p style="text-align: center; font-size: 14px;">
	    Theme from <a href="http://tsong.me">tsong.me</a>
	</p>
    </div>
</footer>
