<div class="panel panel-default" style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
    <div class="panel-heading" id="education">
        <h4 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">News</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5>I joined <a href="https://corporate.jd.com/">JD</a> as a Machine Learning engineer at this summer (2022.8.5), and moved to Beijing.</h5>
        <!-- <p>Ph.D. (September 2016 - April 2022) </p> -->
        <hr/>
    </div>
</div>
