<nav class="navbar navbar-default" style="display: block; font-size: 18px;" role="navigation">
    <div class="container col-lg-8 col-lg-offset-2">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-data" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" style="padding-left: 20px">Guanlin Li</a>
        </div>


        <div id="navbar-data" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--li>
                    <a href="{{ site.baseurl }}/" style="padding-left: 30px">Home</a>
                </li-->
                <li>
                    <a href="{{ site.baseurl }}/article" style="padding-left: 20px">{B}log</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/article_zh" style="padding-left: 20px">{文}</a>
                </li>
                <!-- <li>
                	<a href="{{ site.baseuel }}/party" style="padding-left: 30px">Evening Tea Party</a>
                </li>
 -->                <!-- <li>
                    <a href="{{ site.baseuel }}/redmond_rg" style="padding-left: 30px">Reading Group</a>
                </li> -->
                <li>
                  <a href="https://epsilon-lee.github.io/ml-better-understand" style="padding-left: 20px">{M}L</a>
                </li>
                <!-- <li>
                  <a href="https://epsilon-lee.github.io/epsilon-learns-to-algo" style="padding-left: 30px">{A}lgo</a>
                </li> -->
                <!--li>
                <li>
                    <a href="{{ site.baseuel }}/log" style="padding-left: 30px">Log</a>
                </li>
                    <a href="{{ site.baseurl }}/projects" style="padding-left: 30px">Projects</a>
                </li-->
                <!--li>
                    <a href="{{ site.baseurl }}/reading" style="padding-left: 30px">Reading</a>
                </li-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/epsilon-lee" target="_blank" style="padding-left: 16px"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>
                </li>
                <li>
                    <a href="https://twitter.com/Epsilon_Lee" target="_blank" style="padding-left: 16px"><img src="{{ site.baseurl }}/public/img/icon/twitter.min.svg" height="24px" width="24px"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/guanlin-li-762830143/" target="_blank" style="padding-left: 16px"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/static/glli_cv_2020.pdf" target="_blank" style="padding-left: 20px">{C}V</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/blog" style="padding-left: 20px">{L}egacy</a>
                </li>
            </ul>


        </div>
    </div>
</nav>
