<div class="panel panel-default" style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
    <div class="panel-heading" id="publications">
        <h4 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">Publications and Manuscripts</h4>
    </div>

    <div class="panel-body" style="padding-top: 5px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="{{ site.baseurl }}/docs/papers/cluster2cluster.pdf" target="_blank">
                <b>A Cluster-to-Cluster Framework for Neural Machine Translation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Wenhu Chen, <b>Guanlin Li</b>, Shujie Liu, Zhirui Zhang, Mu Li, Ming Zhou <br/>
            <i>
                Draft.
            </i>
        </p>
    </div>

    <div class="panel-body" style="padding-top: 5px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1706.09152v3" target="_blank">
                <b>Generative Bridging Networks in Neural Sequence Prediction</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Wenhu Chen, <b>Guanlin Li</b>, Shuo Ren, Shujie Liu, Zhirui Zhang, Mu Li, Ming Zhou <br/>
            <i>
                Draft.
            </i>
        </p>
	<!--
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px; font-size: 16px;">
            <a href="https://arxiv.org/abs/1703.08840" target="_blank">
                <b>InfoGAIL: Interpretable Imitation Learning from Visual Demonstrations</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Yunzhu Li, <b>Jiaming Song</b>, Stefano Ermon <br/>
            <i>To appear in the 30th Neural Information Processing Systems conference (NIPS 2017).</i>
            <a href="https://github.com/yunzhuli/infogail" target="_blank">
                [code]
            </a>
        </p>
	-->
    </div>
    
</div>
