<div class="panel panel-default" style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
    <!--  Preprints  -->
    <div class="panel-heading" id="publications">
        <h4 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">Preprints</h4>
    </div>

    <div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 2px;">
            <a href="{{ site.baseurl }}/docs/papers/demy_unmt.pdf" target="_blank">
                <b>Demystifying The Learning of Unsupervised Neural Machine Translation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            <b>Guanlin Li</b>, Lemao Liu, Tara Watanabe, Conghui Zhu, Tiejun Zhao <br/>
            <i>
                Rejected from ICLR 2021, 5, 4, 5, 6.
            </i>
        </p>
    </div>

    <div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px;">
            <a href="{{ site.baseurl }}/docs/papers/learndyn_nmt.pdf" target="_blank">
                <b>Understanding Learning Dynamics for Neural Machine Translation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Conghui Zhu, <b>Guanlin Li</b>, Lemao Liu, Tiejun Zhao, Shuming Shi <br/>
            <i>
                Rejected from ACL 2020 with 2.5, 4, 4.5, draft.
            </i>
        </p>
    </div>

    <div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px;">
            <a href="{{ site.baseurl }}/docs/papers/cluster2cluster.pdf" target="_blank">
                <b>A Cluster-to-Cluster Framework for Neural Machine Translation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Wenhu Chen, <b>Guanlin Li</b>, Shujie Liu, Zhirui Zhang, Mu Li, Ming Zhou <br/>
            <i>
                Draft.
            </i>
        </p>
    </div>

    <!--  Publications  -->
    <div class="panel-heading" id="publications">
        <h4 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">Publications</h4>
    </div>

	<div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 2px;">
            <a href="{{ site.baseurl }}/docs/papers/genbar.pdf" target="_blank">
                <b>Detecting and Understanding Generalization Barriers for Neural Machine Translation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            <b>Guanlin Li</b>, Lemao Liu, Conghui Zhu, Tiejun Zhao, Shuming Shi <br/>
            <i>
               TASLP 2021.
            </i>
        </p>
    </div>
	
    <div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px;">
            <a href="https://www.aclweb.org/anthology/2020.acl-main.35.pdf" target="_blank">
                <b>Evaluating Explanation Methods for Neural Machine Translation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Jierui Li, Lemao Liu, Huayang Li, <b>Guanlin Li</b>, Guoping Huang, Shuming Shi <br/>
            <i>
                ACL 2020.
            </i>
        </p>
    </div>
    
    <div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px;">
            <a href="{{ site.baseurl }}/docs/papers/understand_da_nmt.pdf" target="_blank">
                <b>Understanding Data Augmentation in Neural Machine Translation: Two Perspectives towards Generalization</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            <b>Guanlin Li</b>, Lemao Liu, Conghui Zhu, Tiejun Zhao, Shuming Shi <br/>
            <i>
                EMNLP 2019.
            </i>
        </p>
    </div>

    <div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px;">
            <a href="https://www.aclweb.org/anthology/P19-1124.pdf" target="_blank">
                <b>On the Word Alignment from Neural Machine Translation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Xintong Li, <b>Guanlin Li</b>, Lemao Liu, Max Meng, Shuming Shi <br/>
            <i>
                ACL 2019.
            </i>
        </p>
    </div>

    <div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px;">
            <a href="https://www.aclweb.org/anthology/N19-1046.pdf" target="_blank">
                <b>Understanding and Improving Hidden Representation for Neural Machine Translation</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            <b>Guanlin Li</b>, Lemao Liu, Xintong Li, Conghui Zhu, Tiejun Zhao, Shuming Shi <br/>
            <i>
                NAACL 2019.
            </i>
        </p>
    </div>

    <div class="panel-body" style="padding-top: 2px; margin-top: 0; margin-bottom: 0;">
        <p style="line-height: 1.5; margin-top: 1px; margin-bottom: 1px;">
            <a href="https://arxiv.org/abs/1706.09152v3" target="_blank">
                <b>Generative Bridging Networks in Neural Sequence Prediction</b>
            </a>
        </p>
        <p style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">
            Wenhu Chen, <b>Guanlin Li</b>, Shuo Ren, Shujie Liu, Zhirui Zhang, Mu Li, Ming Zhou <br/>
            <i>
                NAACL 2018.
            </i>
        </p>
    </div>
    
</div>
